%h1 Dashboard
%p
  Welcome to Dashboard!

%p
  .btn-group
    %a.btn.btn-large.btn-primary{href: new_console_job_path} Add New Job
    %a.btn.btn-large.btn-primary{href: new_console_company_path} Add New Company
    %a.btn.btn-large.btn-primary{href: new_console_page_path} Add New Page