%h1 dashboard
%p
  welcome to dashboard!

%p
  .btn-group
    %a.btn.btn-large.btn-primary{href: new_console_job_path} add new job
    %a.btn.btn-large.btn-primary{href: new_console_company_path} add new company
    %a.btn.btn-large.btn-primary{href: new_console_page_path} add new page