.page-header
  %h1 edit company

= render 'form'

= link_to ' show', console_company_path(@company), :class => 'btn icon-eye-open'
\::
= link_to ' back', console_companies_path, :class => 'btn icon-arrow-left'
