.well
  .page-header.how-to-apply
    %h3
      how to apply?

  = job.instructions.html_safe
  - if job.company.linkedin_key.present?
    %br/
    .apply-linkedin
      %script{src: "//platform.linkedin.com/in.js", type: "text/javascript"}
        api_key: 3hd974zwiy98
      %script{:type => "IN/Apply", :'data-companyId' => job.company.linkedin_key,
          :'data-jobTitle' => job.title, :'data-email' => job.company.email,
          :'data-jobId' => job.id}
