textarea{
  height: 80px;
  width: 300px;
}
input[type="text"], select{
  width: 300px;
}
.expires select{
  width: 100px;
}

.full-width{
  width: 95%;
  height: 250px;
}

div.tagsinput span.tag{
  background-color: #0074CC;
  color: white;
}