.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="#")
        %img{src: '/assets/logo.png', height: '40px'}
      .container.nav-collapse
        %ul.nav
          %li= link_to "Company", :console_companies
          %li= link_to "Jobs", :console_jobs
