= stylesheet_link_tag 'widget'

.floatbox.alt1
  .floathead{:style => "text-align: left"}
    %h1 চাকুরী বোর্ড

  - if @jobs.present?
    - @jobs.each do |job|
      .floatmid
        %a.jb-item{:href => company_job_url(job.company, job)}
          %span.jb-deadline>#{job.expires_at.strftime('%d/%m')}
          = job.title
          %span.jb-comp
            = job.company.name

  - else
    No Jobs found so far!
  .floatfoot
    %a{:href => jobs_url(nil)} আরো দেখুন