= stylesheet_link_tag 'widget'

- if @jobs.present?
  .floatmid
    - @jobs.each do |job|
      %a.jb-item{:href => job_url(job), :target => '_blank'}
        = job.title
        %span.jb-comp
          = job.company.name
        %span.jb-loc
          = job.location
- else
  no available position!