= stylesheet_link_tag 'widget'

- if @jobs.present?
  .floatmid
    .jobs
      - @jobs.each do |job|
        .job
          %a{:href => job_url(job), :target => '_blank'}
            %strong
              = job.title
          .comp-name= job.company.name
          .job-loc= job.location

- else
  No available position!