= stylesheet_link_tag 'widget'

- if @jobs.present?
  .floatmid
    - @jobs.each do |job|
      %a.jb-item{:href => job_url(job), :target => '_blank'}
        %span.jb-deadline #{job.expires_at.strftime('%d/%m')}
        = job.title
        %span.jb-comp= job.company.name

- else
  No available position!

.alt1.floatfoot
  %a{:href => jobs_url(nil), :target => '_blank'} আরো দেখুন