#top-menu.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.brand(href="#")
        %img{src: '/assets/logo.png', height: '30px'}
        somewhere in... jobs

      .nav-collapse
        - @pages = Page.where(:display => true)
        - if @pages.present?
          %ul.nav.pull-right
            - @pages.each do |page|
              %li
                %a
                  = link_to page.title, static_page_path(page._id)


