= form_for [@company], :url => :employer_update_company, :html => {class: 'form-horizontal'}, :method =>  :put do |f|

  = render 'console/companies/common_fields', :f => f

  .form-actions
    %a.btn.btn-large{type: 'button', href: console_companies_path}
      Cancel
    = f.submit ' save', :class => 'btn btn-primary btn-large icon-ok'
