
- if flash.present?
  .row-fluid
    - if flash.notice.present?
      .alert.alert-success
        %button.close{:'data-dismiss' => 'alert'}
          x
        = flash.notice.to_s
    - if flash.alert.present?
      .alert.alert-error
        %button.close{:'data-dismiss' => 'alert'}
          x
        = flash.alert.to_s
